body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
}

.container {
    text-align: center;
    padding-top: 0;
}

.image-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-family:  Roboto,sans-serif;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}

.right{
    width: 1000px;
    height: 200px;
    margin: 50px;
    text-align: center;
}

.left{
    width: 1000px;
    height: 200px;
    margin: 50px;
    margin-top: 0;
    text-align: center;
}
header {
    text-align: left;
    color: Black;
    margin: 100px 0px 20px 80px;
    font-family: 'Roboto', sans-serif;
}

nav {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(22, 32, 220, 0.37);
    padding-right: 35px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(252, 252, 252, 0.8); /* Light background */
}

.navbar{
    display: flex;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(22, 32, 220, 0.37);
    padding-right: 35px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 1rem;
    justify-content: center;
}

ul li {
    color: #000; /* Black */
    display: grid;
    place-content: center;
    margin: 0;
}

.logo {
    cursor: pointer;
    width: 10px;
    height: auto;

}

.menu {
    color: Black; /* Fern */
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background:#ECE4DB; /* Fern */
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
}

.menu:hover::before {
    transform: scaleX(1);
}

main {
    padding: 0 20px;
    margin-top: 80px;
    background-color: #ECE4DB; /* Warm Ivory */
}

.features{
    display: flex;
    height: 450px;
    width: 100%;
    padding: 20px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature {
    background: #ECE4DB; /* Natural */
    height: 450px;
    width: 500px;
    padding: 20px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

footer {
    display: flex;
    background: #a6876f; /* Fern */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-media {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 10px 10px 10px 10px;
    text-align:left;
}

.social-media a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ECE4DB; /* Warm Ivory */
}